body {
    background-color: #bfbfbf;
}

.mid {
    max-width: 600px;
    margin: auto;
    padding: 10px;
    border: 20px solid black;
    background-color: #66ccff;
}

h1 {
    text-align: center;
}

a {
    padding: 10px;
    text-decoration: none;
}

.choice {
    font-size: 48px;
}